<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Question 1: What is InYourShoes?</h3>
  </div>
  <div class="panel-body">
   <b> Answer:</b> InYourShoes is a online chat service that is meant to fufill people with questions about certain life experiences with others who have been in the exact same situation!
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Question 2: Why did you make this?</h3>
  </div>
  <div class="panel-body">
   <b> Answer:</b> I made this because I wanted to help people get useful advice in times of dire need while remaining anonymous.Sometimes, its people that you've never met before that will give you life changing advice!  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Question 3: How is this different from Omegle or ChatRoulette?</h3>
  </div>
  <div class="panel-body">
   <b> Answer:</b>Frankly speaking, its not much different,except I'm trying to exclude trollers and spammers. This chat is to disscus and vent real issues while being annonymous  </div>
</div>


Thanks for visiting!



</p>
