<div class="jumbotron">
 <div class "container"> 
   <h1>In Your Shoes:<br> Make Connections Anonymously<br> </h1>
    <h2>
      <div class="row">
	 <div class="col-xs-4 col-md-4 col-lg-4">
	  <a href="#" class="thumbnail">
           <%= image_tag("blank_avatar_male.jpg") %>
	  </a>
         </div> 
         <div class="col-xs-4 col-md-4 col-lg-4">
	  <a href="#" class="thumbnail">
           <%= image_tag("img_thing.jpeg") %>
	  <a/>
         </div>
         <div class="col-xs-4 col-md-4 col-lg-4">
	  <a href="#" class="thumbnail">
           <%= image_tag("blank_avatar_female.jpg") %>
          </a>
         </div>
      </div> 
   </h2>
  <p>
   Through common personal experiences!. Click  <%= link_to "here to sign up now!", signup_path %>
 </p>
 </div>
</div>
