<!DOCTYPE html>
<html>
 <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1>Welcome to Inyourshoes.com, <%= @user.name %></h1>
  <p>
     You have successfully signed up to Inyourshoes.com
     
  </p>
  <p>
     Your password for your account is: <%= @user.password %><br/>
  </p>
  <p> Thanks for joining and hope you find and develop meaningful relationships on this website!</p>
</body>
</html>

     
