<h1> We just need a little bit of information from you...</h1>
<h2> Answer questions that apply to you</h2>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <p>Do you have experience in Business? If yes, select one of the following:
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select one <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Entrepreneurship</a></li>
          <li><a href="#">Investments</a></li>
          <li><a href="#">Management</a></li>
          <li class="divider"></li>
          <li><a href="#">All of the Above</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" placeholder ="Years of experience" >
     </div>
</p>




<p>Do you have experience in Relationships? If yes, select one of the following:
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select one <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Break ups</a></li>
          <li><a href="#">Sex</a></li>
          <li><a href="#">Courtship</a></li>
          <li class="divider"></li>
          <li><a href="#">All of the Above</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" placeholder ="Years of experience" >
    </div><!-- /input-group -->
</p>







<p>Do you have experience in Career Outlook? If yes, select one of the following:
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select one <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Career Change</a></li>
          <li><a href="#">Career Path</a></li>
          <li><a href="#">Career Selection</a></li>
          <li class="divider"></li>
          <li><a href="#">All of the Above</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" placeholder ="Years of experience" >
    </div><!-- /input-group -->
</p>





<p>Do you have experience in Life Outlook? If yes, select one of the following:
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select one <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Break ups</a></li>
          <li><a href="#">Sex</a></li>
          <li><a href="#">Courtship</a></li>
          <li class="divider"></li>
          <li><a href="#">All of the Above</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" placeholder ="Years of experience" >
    </div><!-- /input-group -->
</p>

<div class = "center form-actions">
         <button class:"btn btn-lg btn-primary" type="button" >Submit</button>
</div>

</div>
</div>















































